@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font: 'Bebas Neue', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

